.article-title {
    margin-top: 0.30em;
    margin-bottom: 0em;
}

.article-meta-data {
    margin-top: 0.25em;
    margin-bottom: 0.5em;
}

.article-edit-buttons{
    padding-top: 0.6em;
}

.modal-dialog {
    margin:10% auto;
}

#saveTitleDiv {
    padding-bottom: 1em;
}

hr {
    border-top: 2px solid #ccc;
}

.commentTextArea {
    margin-bottom: 0.5em;
}

.commentButtonDiv {
    margin-bottom: 2em;
}

.commentAuthorHeader {
    display: inline;
}