<!doctype html>
<html ng-app="blogModule">
<head>
    <title>The Blog</title>

    <!--JQuery-->
    <script src="js/jquery-2.1.4.js"></script>
    <script src="js/jquery.cookie-1.4.1.js"></script>

    <!--Semantic-UI-->
    <link rel="stylesheet" type="text/css" href="semantic-ui-2.0.8/semantic.css">
    <script src="semantic-ui-2.0.8/semantic.js"></script>

    <!--AngularJS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>

    <!--Quill - TextEditor-->
    <link rel="stylesheet" href="quill-0.20/quill.snow.css" />
    <script src="quill-0.20/quill.js"></script>


    <!--Summernote depends on the Bootstrap :( -->
    <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>-->
    <!--<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">-->

    <!-- Summernote-->
    <link href="summernote-0.6.16/summernote.css" rel="stylesheet">
    <script src="summernote-0.6.16/summernote.js"></script>


    <!--Local-->
    <script src="js/configuration.js"></script>
    <script src="js/util/DateTimeUtil.js"></script>
    <script src="js/api.js"></script>
    <script src="js/blog.js"></script>
    <script src="js/module/blogModule.js"></script>
    <script src="js/controller/ArticleController.js"></script>
    <script src="js/controller/SecurityController.js"></script>
    <script src="js/service/ArticleService.js"></script>
    <script src="js/service/SecurityService.js"></script>

    <link rel="stylesheet" type="text/css" href="css/blog.css">

</head>

<body ng-controller="SecurityController" ng-init="securityInit()">


<!--##########################################################################################-->
<!--##################################### Side Bar Menu ######################################-->
<!--##########################################################################################-->

<div class="ui sidebar inverted vertical menu">

    <a id="login" ng-hide="isLoggedIn" class="item">
        Login
    </a>
    <a id="logout" ng-hide="!isLoggedIn" class="item">
        Logout
    </a>

    <!--TODO - ng-hide-->
    <a id="create-article" ng-hide="!isLoggedIn" class="item">
        Create Article
    </a>

</div>


<!--##########################################################################################-->
<!--###################################### Login Modal #######################################-->
<!--##########################################################################################-->


<div id="logout-modal" class="ui form modal">

    <i class="close icon"></i>
    <div class="header">
        Logout
    </div>

    <div class="ui padded grid">
        <div id="logout-content" class="centered floated eight wide column">
            Do you wish to logout?
        </div>
    </div>

    <div class="actions">
        <div id="logout-button" class="ui positive right labeled ok submit button" ng-click="logout()">
            Logout
        </div>
    </div>
</div>

<!--##########################################################################################-->
<!--###################################### Login Modal #######################################-->
<!--##########################################################################################-->


<div id="login-modal" class="ui form modal">

    <i class="close icon"></i>
    <div class="header">
        Log-in
    </div>

    <div class="ui padded grid">
        <div class="centered floated eight wide column">

            <div class="field">
                <label>Username</label>
                <input type="text" name="username" placeholder="Username" ng-model="login.username">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="Password" ng-model="login.password">
            </div>
            <div class="ui message hidden" id="login-error-msg-box">
                <div class="header">
                    Login Failure
                </div>
                <p id="login-error-msg-text"></p>
            </div>

        </div>
    </div>

    <div class="actions">
        <div id="login-button" class="ui positive right labeled ok submit button" ng-click="login(login)">
            Submit
        </div>
    </div>
</div>


<!--##########################################################################################-->
<!--##################################### Sidebar Icon #######################################-->
<!--##########################################################################################-->


<div id="sidebar-button" class="ui icon fixed button">
    <i class="sidebar icon"></i>
</div>


 <!--##########################################################################################-->
 <!--######################################### BODY ###########################################-->
 <!--##########################################################################################-->

<div id="body-content" class="pusher"  ng-controller="ArticleController" ng-init="articlesInit()">

    <div class="ui container" ng-hide="!isLoggedIn">

        <div class="ui huge fluid input">
            <input type="text" placeholder="Article Title" ng-model="newTitle">
            <button class="ui right floated button" ng-click="createArticle(newTitle)">Save Article</button>
        </div>

        <div id="article-editor-segment" class="ui segment">

            <!-- Create the toolbar container -->
            <div id="full-toolbar" class="toolbar">
            <span class="ql-format-group">
                <select title="Font" class="ql-font">
                    <option value="sans-serif" selected="">Sans Serif</option>
                    <option value="serif">Serif</option>
                    <option value="monospace">Monospace</option>
                </select>
                <select title="Size" class="ql-size">
                    <option value="10px">Small</option>
                    <option value="13px" selected="">Normal</option>
                    <option value="18px">Large</option>
                    <option value="32px">Huge</option>
                </select>
            </span>
            <span class="ql-format-group">
                <span title="Bold" class="ql-format-button ql-bold"></span>
                <span class="ql-format-separator"></span>
                <span title="Italic" class="ql-format-button ql-italic"></span>
                <span class="ql-format-separator"></span>
                <span title="Underline" class="ql-format-button ql-underline"></span>
                <span class="ql-format-separator"></span>
                <span title="Strikethrough" class="ql-format-button ql-strike"></span>
            </span>
            <span class="ql-format-group">
                <select title="Text Color" class="ql-color">
                    <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)" selected=""></option>
                    <option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"></option>
                    <option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"></option>
                    <option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"></option>
                    <option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"></option>
                    <option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"></option>
                    <option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"></option>
                    <option value="rgb(255, 255, 255)" label="rgb(255, 255, 255)"></option>
                    <option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"></option>
                    <option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"></option>
                    <option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"></option>
                    <option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"></option>
                    <option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"></option>
                    <option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"></option>
                    <option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"></option>
                    <option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"></option>
                    <option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"></option>
                    <option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"></option>
                    <option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"></option>
                    <option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"></option>
                    <option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"></option>
                    <option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"></option>
                    <option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"></option>
                    <option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"></option>
                    <option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"></option>
                    <option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"></option>
                    <option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"></option>
                    <option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"></option>
                    <option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"></option>
                    <option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"></option>
                    <option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"></option>
                    <option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"></option>
                    <option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"></option>
                    <option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"></option>
                    <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
                </select>
                <span class="ql-format-separator"></span>
                <select title="Background Color" class="ql-background">
                    <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option>
                    <option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"></option>
                    <option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"></option>
                    <option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"></option>
                    <option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"></option>
                    <option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"></option>
                    <option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"></option>
                    <option value="rgb(255, 255, 255)" label="rgb(255, 255, 255)" selected=""></option>
                    <option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"></option>
                    <option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"></option>
                    <option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"></option>
                    <option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"></option>
                    <option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"></option>
                    <option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"></option>
                    <option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"></option>
                    <option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"></option>
                    <option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"></option>
                    <option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"></option>
                    <option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"></option>
                    <option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"></option>
                    <option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"></option>
                    <option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"></option>
                    <option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"></option>
                    <option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"></option>
                    <option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"></option>
                    <option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"></option>
                    <option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"></option>
                    <option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"></option>
                    <option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"></option>
                    <option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"></option>
                    <option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"></option>
                    <option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"></option>
                    <option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"></option>
                    <option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"></option>
                    <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
                </select>
            </span>
            <span class="ql-format-group">
                <span title="List" class="ql-format-button ql-list"></span>
                <span class="ql-format-separator"></span>
                <span title="Bullet" class="ql-format-button ql-bullet"></span>
                <span class="ql-format-separator"></span>
                <select title="Text Alignment" class="ql-align">
                    <option value="left" label="Left" selected=""></option>
                    <option value="center" label="Center"></option>
                    <option value="right" label="Right"></option>
                    <option value="justify" label="Justify"></option>
                </select>
            </span>
            <span class="ql-format-group">
                <span title="Link" class="ql-format-button ql-link"></span>
                <span class="ql-format-separator"></span>
                <span title="Image" class="ql-format-button ql-image"></span>
            </span>
            </div>

            <!-- Create the toolbar and editor container -->
            <div id="full-editor" class="editor">
            </div>

        </div>
        <div class="ui segment">
            <h1><span ng-bind="newTitle"></span></h1>
            <span id="preview-content"></span>
        </div>

    </div>

    <div id="context" class="ui container" ng-hide="isLoggedIn">

        <div id="summernote">Hello Summernote</div>



        <h1>Welcome to The BLOG !!</h1>
        <div id="articles_container" class="ui segments">

            <!--&lt;!&ndash;Test Button for articles&ndash;&gt;-->
            <!--<div id="test-button" class="ui icon fixed button" ng-click="test()">-->
                <!--<i class="warning circle icon"></i>-->
            <!--</div>-->

            <!--Loading Dimmer-->
            <div class="ui inverted active dimmer">
                <div class="ui loader">
                </div>
            </div>

            <!--Articles-->
            <div class="ui segment" ng-repeat="article in articles">
                <div class="content">

                    <!--Article Meta Data-->
                    <div class="ui segment attached">
                        <h2 class="ui header">
                            {{article.title}}
                            <div class="sub header">
                                {{article.createdBy}}
                                &nbsp;
                                ID-{{article.id}}
                                &nbsp;
                                {{formatTimestamp(article.created)}}
                            </div>
                        </h2>
                    </div>

                    <!--Article Content-->
                    <div class="ui segment attached" ng-bind-html-unsafe="article.content">
                           {{article.content}}
                    </div>

                    <!--Article Comments-->
                    <div class="ui segment attached">
                        <div class="ui comments">

                            <!--Comment-->
                            <div class="comment" ng-repeat="comment in article.comments">
                                <div class="content">
                                    <a class="author">
                                        {{comment.createdBy}}
                                    </a>
                                    <div class="metadata">
                                        <span class="label">
                                            ID-{{comment.id}}
                                            &nbsp;
                                            {{formatTimestamp(comment.created)}}
                                        </span>
                                    </div>
                                    <div class="text">
                                        {{comment.content}}

                                    </div>

                                    <!--TODO -- Add comment reply functionality-->
                                    <div class="actions hidden">
                                        <a class="reply">Reply</a>
                                    </div>

                                    <!--Comment Reply Form-->
                                    <form class="ui reply form hidden">
                                        <div class="field">
                                            <textarea></textarea>
                                        </div>
                                        <div class="ui blue labeled submit icon button">
                                            <i class="icon edit"></i> Add Reply
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>

                        <!--Comment Form-->
                        <form class="ui comment form">
                            <div class="field">
                                <textarea id="{{article.id}}-comment-content"></textarea>
                            </div>
                            <div class="ui blue labeled submit icon button" id="comment-submit-button-{{article.id}}"
                                    ng-click="saveComment(article.id)">
                                <i class="icon edit"></i> Save Comment
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>


        <!--Page Footer-->
        <div class="ui list">
            <div class="item">
                <i class="minus icon"></i>
                <div class="content">
                    Apache Spring Boot
                </div>
            </div>
            <div class="item">
                <i class="minus icon"></i>
                <div class="content">
                    Apache Shiro
                </div>
            </div>
            <div class="item">
                <i class="minus icon"></i>
                <div class="content">
                    Angular JS
                </div>
            </div>
            <div class="item">
                <i class="minus icon"></i>
                <div class="content">
                    Semantic-UI
                </div>
            </div>
        </div>

    </div>





</div>
</body>
</html>