<!DOCTYPE html>
<html ng-app="blogModule">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>The Blog</title>

    <!--JQuery-->
    <script src="js/jquery-2.1.4.js"></script>
    <script src="js/jquery.cookie-1.4.1.js"></script>

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--AngularJS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>

    <!-- Summernote-->
    <link href="summernote-0.6.16/summernote.css" rel="stylesheet">
    <script src="summernote-0.6.16/summernote.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!--Local-->
    <script src="js/configuration.js"></script>
    <script src="js/util/DateTimeUtil.js"></script>
    <script src="js/api.js"></script>
    <script src="js/blog.js"></script>
    <script src="js/module/blogModule.js"></script>
    <script src="js/controller/ArticleController.js"></script>
    <script src="js/controller/SecurityController.js"></script>
    <script src="js/service/ArticleService.js"></script>
    <script src="js/service/SecurityService.js"></script>

    <link rel="stylesheet" type="text/css" href="css/blog.css">

</head>

<body ng-controller="SecurityController" ng-init="securityInit()">

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="inputUsername">Username</label>
                        <input type="text" class="form-control" id="inputUsername" placeholder="Username" ng-model="input.username">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="input.password">
                    </div>
                </form>
                <div id="loginErrorMessageDiv" class="alert alert-danger hidden" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    <span id="loginErrorMessageSpan">error message :(</span>
                </div>
            </div>
            <div class="modal-footer">
                <button id="login-button" type="button" class="btn btn-primary" data-loading-text="Loading..." ng-click="login(input)">Submit</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="container" ng-controller="ArticleController" ng-init="articlesInit()">

    <div class="row">
        <div class="col-md-12">

            <!--Navigation Bar-->
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="">The Blog</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="#/articles">Home</a></li>
                            <li ng-hide="!isLoggedIn"><a href="#/saveArticle">Save Article</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li ng-hide="isLoggedIn"><a href="" ng-click="loginButtonClick()">Login</a></li>
                            <li ng-hide="!isLoggedIn"><a href="#/articles" ng-click="logout()">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <!-- Padding. No Content -->
        </div>
        <div class="col-md-10">

            <!--Consider this as a body. This is where most of the contents should go-->
            <div class="row">
                <div ng-view>

                </div>
            </div>

        </div>
        <div class="col-md-1">
            <!-- Padding. No Content -->
        </div>

    </div>

    <br/>

    <div class="row">
        <div class="col-md-12">
            <div class="text-center text-muted">
                <p>Designed and built by Harry Cho - 2015</p>
            </div>
        </div>
    </div>



</div>

</body>

</html>