<span ng-init="getArticles()"></span>
<div class="col-md-12" ng-repeat="article in articles">
    <div class="row">

        <!--Article Title-->
        <div class="col-md-8">
            <h1 class="article-title"><strong>{{article.title}}</strong></h1>
        </div>

        <!--Edit Article Buttons-->
        <div class="col-md-4 article-edit-buttons">
            <div class="col-md-4"></div>
            <div class="col-md-8" ng-hide="!isLoggedIn">
                <button type="button" class="btn btn-default" ng-click="editArticleView(article)">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
                </button>
                <button type="button" class="btn btn-default" ng-click="deleteArticle(article.id)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                </button>
            </div>
        </div>

    </div>

    <!--Meta Data-->
    <div class="row">
        <div class="col-md-12">
            <h4 class="article-meta-data text-muted text-capitalize">{{article.createdBy}} | {{formatTimestamp(article.created)}} | {{article.id}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" ng-bind-html="to_trusted(article.content)">
            {{article.content}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="commentFormDiv">
                <div class="row">
                    <div class="col-md-12">
                        <h4><strong>Comments</strong></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <textarea class="form-control commentTextArea" rows="3" ng-model="commentInput"></textarea>
                    </div>
                </div>
                <div class="row commentButtonDiv">
                    <div class="col-md-4">
                        <button type="button" id="commentSaveBtn{{article.id}}" class="btn btn-primary" data-loading-text="Submitting..." ng-click="saveComment(article.id, commentInput)">Submit</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="media" ng-repeat="comment in article.comments">
                        <div class="media-body">

                            <h4 class="media-heading commentAuthorHeader">{{comment.createdBy}}</h4>&nbsp&nbsp&nbsp<span class="text-muted">{{formatTimestampFormat(comment.created, '#MMM# #D# #YYYY# #hh#:#mm##ampm#')}}</span>
                            <br/>
                            {{comment.content}}

                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <br/>
    <hr/>
</div>