<div id="saveArticle" class="col-md-12">

    <div class="row">
        <div class="col-md-10">

            <div id="saveTitleDiv" class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1">Title</span>
                <input type="text" class="form-control" placeholder="My Article" aria-describedby="sizing-addon1" ng-model="newTitle">
            </div>
        </div>
        <div class="col-md-2">
            <button id="article-save-button" type="button" class="btn btn-lg btn-default pull-right" data-loading-text="Saving..." ng-click="createArticle(newTitle)">Save</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="textEditor" ng-init="initTextEditor()"></div>
        </div>
    </div>

</div>